.catalog-item {
  position: relative;
  .flex();
  flex-direction: column;
  border: 1px solid #ededed;
  margin-bottom: 29px;
  .box-shadow();

  .media(tablet; {
    .flex();
    flex-direction: row;
    padding-bottom: 0;
    margin-bottom: 54px;
   /* height: 334px;*/
  });

  .media(desktop; {
    .flex();
    flex-direction: column;
    flex-wrap: wrap;
    width: 316px;
    height: auto;
  });
}

.catalog-item__picture {
  .media(tablet; {
    width: 334px;
    height: 334px;
  });

  .media(desktop; {
    width: 316px;
    height: 462px;
  });
}

.catalog-item__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 28px;
  padding-right: 28px;

  .media(tablet; {
    width: 332px;
  });

  .media(desktop; {
    width: 100%;
  });
}

.catalog-item__main-descript {
  flex-grow: 1;
  min-height: 103px;
  .media(tablet; {
    min-height: 123px;
  });
}

.catalog-item__title {
  .set-font(17px; 24px);
  font-weight: bold;
  margin-top: 27px;
  margin-bottom: 8px;

  .media(tablet; {
    .set-font(20px; 24px);
  });

}

.catalog-item__text {
  .set-font(13px; 30px);
  padding-bottom: 21px;
 /* margin-bottom: 28px;*/


  .media(tablet; {
    .set-font(15px; 30px);
    padding-bottom: 0px;
    margin-bottom: 0px;
  });


}

.catalog-item__to-buy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid @line;
}

.catalog-item__price {
  align-items: center;
  .set-font(15px; 24px);
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;

  .media(tablet; {
    .set-font(17px; 24px);
  });
}

.catalog-item__btn-buy {
  position: relative;
  font-size: 0;
}


