.contacts {
  position: relative;
  padding-top: 41px;
  margin-bottom: 39px;
  .media(tablet; {

  });

  .media(desktop; {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 94px;
    margin-bottom: 46px;
  });
}

.contacts__wrapper {
  padding-left: 28px;
  padding-right: 28px;
  .flex();
  flex-direction: row;
  .wrapper-container();

  .media(desktop; {
    flex-direction: column;
    width: 1050px;
    padding-left: 175px;
  });

  &--btn {
    margin-top: 38px;
    margin-bottom: 38px;
    .media(tablet; {
    justify-content: center;
    margin-top: 58px;
    margin-bottom: 58px;
    });
    .media(desktop; {
    justify-content: flex-start;
    });
  }
}

.contacts__title {
  .set-font(18px; 30px);
  font-weight: bold;
  margin-bottom: 26px;
  width: 100%;

   .media(tablet; {
    .set-font(43px; 50px);
    margin-top: 21px;
    margin-bottom: 49px;
  });
  .media(desktop; {
    .set-font(53px; 57px);
    margin-top: 71px;
    margin-left: -5px;
    margin-bottom: 47px;
  });
}

.contacts__item {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 33px;

  .media(tablet; {
    width: 334px;
    padding-bottom: 57px;
  });

  .media(desktop; {
    padding-bottom: 22px;
  });

  & span,
  & a {
    .media(tablet; {
      .set-font(17px; 30px);
    });
  }

  &--email {
    .media(desktop; {
      padding-bottom: 31px;
    });
  }
}

.contacts__email {
  .set-font(15px; 30px);

  &--text {
    margin-left: 28px;
    color: #000000;
    text-decoration: none;
    border-bottom-color: @hvr-placeholder;

    &:hover {
      color: @hvr-toys;
      border-bottom-color: @hvr-placeholder;
    }

    &:active {
      color: #d6f1ed;
      border-bottom-color: #ecf9f7;
    }
  }
}

.contacts__address {

   &--text {
  .set-font(15px; 30px);
  padding-left: 27px;
  padding-right: 44px;
  margin-top: -2px;

  .media(tablet; {
      .set-font(17px; 30px);
      margin-top: 0;
  });
  }
}

.contacts__map {
  background-color: #faf3ea;
  margin-bottom: 0px;
  height: 456px;


  .media(desktop; {
    position: absolute;
    width: 525px;
    right: 50px;
    top: 96px;
  });
}

.contacts__img,
.contacts__iframe {
    width: 100%;/*320px;*/
    height: 457px;
    border: none;

    .media(tablet; {
      width: 100%;/*768px;*/
      height: 457px;
    });

    .media(desktop; {
      width: 525px;
      height: 456px;
    });

    &--hidden {
      display: none;
    }
  }






