.footer-author {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 16px;
  /*padding-bottom: 20px;*/
  align-items: center;
  .media(tablet; {
    padding-top: 9px;
    margin-right: -2px;
   });
}
/*.footer-author__author {
  .set-font(19px; 18px);
  font-weight: bold;
  margin-right: 29px;
  vertical-align: middle;
font-size: 0;

}*/

.footer-author__link {
  display: flex;
  align-content: center;

  .set-font(19px; 18px);
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  align-items: center;

  padding-top: 2px;

  &:hover {
    svg {
      fill: @hvr-toys;
    }

    }

    &:active {
      color: #a8a8a8;
      svg {
      fill: #bde3dd;
      }
    }

  svg {
    margin-left: 30px;
    margin-right: 2px;
    margin-top: 4px;
    fill: @dark-turquoise;

   /* &:hover {
      fill: @hvr-toys;
    }

    &:active {
      fill: #bde3dd;
    }*/
  }


}


/*.footer-author__text {
  padding-bottom: 10px;
}
*/

