.promo {
  .flex();
  background-color: #f1f1f1;
  justify-content: center;
  margin-bottom: 30px;
  border-top: 1px solid @line;
}


.promo__title {
  .set-font(27px, 30px);
  font-weight: bold;

  padding-top: 75px;
  padding-bottom: 75px;

  .media(tablet; {
    padding-top: 100px;
    })
}
