.review {
  margin-top: 35px;
  margin-bottom: 47px;

  .media(tablet; {
    margin-bottom: 112px;
  });

  .media(desktop; {
    margin-top: 25px;
    margin-bottom: 160px;
  });
}

.review__wrapper {
  .flex();
  flex-direction: column;
  /*padding-left: 28px;
  padding-right: 28px;*/
  .wrapper-container();
  position: relative;

  .media(tablet; {
    /*padding-left: 45px;
    padding-right: 45px;*/

    &::before {
    position: absolute;
    content: "";
    top: 0;
    left: -50px;
    width: 350px;
    height: 457px;
    background-color: @bg-color;
    z-index: -10;
    background: url('../img/review@1x.jpg') no-repeat;
    }
  });

   .media(desktop; {
    padding-left: 175px;

    &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 350px;
    height: 457px;
    background-color: @bg-color;
    z-index: -10;
    background: url('../img/review@2x.jpg') no-repeat;
    }
  });
}

.review__title {
  .set-font(25px; 30px);
  margin-bottom: 26px;

   .media(tablet; {
    .set-font(43px; 50px);
    margin-top: 77px;
    margin-bottom: 49px;
    margin-left: -5px;
  });

  .media(desktop; {
    .set-font(53px; 57px);
    margin-top: 70px;
    margin-bottom: 49px;
  });
}

.review__text {
  .set-font(15px; 30px);
  margin-bottom: 26px;

  .media(tablet; {
    .set-font(17px; 30px);
    margin-bottom: 60px;
  });

  .media(desktop; {

    padding-right: 90px;
    margin-bottom: 38px;
  });
}

.review__author {
  .set-font(18px; 24px);
  font-weight: bold;
  font-style: normal;
}

.review__address {
  .set-font(17px; 35px);
  font-style: normal;
}

.review__controls {
  .flex();
  width: 100%;
  max-height: 53px;
 /* align-self: flex-start;*/
  justify-content: space-between;
  margin-top: 27px;
  margin-bottom: 40px;
  padding-top: 13px;
  padding-bottom: 20px;
  border: 1px solid @line;



  .media(tablet; {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 178px;
    margin-bottom: 5px;
    border: none;
  });

  .media(desktop; {
    width: 135px;
    padding-top: 17px;
    margin-right: 18px;
    bottom: 0px;
  });

  .review__btn {
    &:hover svg{
        fill: @hvr-txt;;
       }

    &:active svg{
      fill: @down-txt;
    }
  }

}

.review__btn {
  width: 50%;
  font-size: 0;
  text-align: center;

  .media(desktop; {
  &--prev {
    text-align: left;
  }

  &--next {
    text-align: right;
  }
  });

}

